@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 26, 26, 46;
  --background-end-rgb: 26, 26, 46;
}

body {
  font-family: var(--font-dm-sans), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-syne), sans-serif;
}